#time {
    margin-top: 120px;
    text-align: center;
    font-size: 150px;
}

#btn {
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    width: 650px;
    height: 100px;
    display: inline-block;
    border: 0;
    color: #ffffff;
    background-color: #4191f5;
}

#btn:hover {
    font-size: 60px;
    background-color: #5eb4ff;
}
